<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/RGBcolor.css">
    <title>RGB Color Game</title>
</head>
<body>
    <h1>The Great
    <br>
    <span>RGB</span>
    <br>  
    Color Game</h1>

    <div id = "stripe">
        <button id="newColors">NEW COLORS</button>
        <span id = "resultDisplay"></span>
        <button class = "mode">EASY</button>
        <button class= "mode selectedButton">HARD</button>

    </div>

    <div id="container">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>  
    
    <script type="text/javascript" src="/js/RGBcolor.js"></script>
</body>
</html>